html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#carteid {
    /* height: 100% */
    width: 100%;
    float:left;
}
#form_insert{
    float: left;
    z-index:9999999;
    position:absolute;
}
#info_container{
    float:right;
    z-index:9999999;
    position:absolute;
}
#menu_slide{
    float:left;
}
